# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# BD local
db/data/

# Archivos de entorno
.env
.env.*
!.env.example

# Docker logs
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store
